body {
  .tree {
    .hide {
      display: none;
    }

    ul {
      list-style: none;

      li:last-child {
        margin-bottom: 5px;
      }

      .title {
        display: flex;
      }

      .title:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
